  <div class="container-fluid ">
    <div class="row-fluid">
      <div class="venuename col-md-6 col-md-offset-3">
        {{#each Venues}}
        <div class="text-center">
          <h2 class="detitle">{{name}}</h2>
            <p>{{this.address}} </p>
            <p>{{this.phoneNumber}}</p>
            <p>{{this.website}}</p>
          </div>
               {{#each Reviews}}
               <div class ="reviewDiv">
               <p>{{this.review}} </p>
                <p class="rating text-right">Rating: {{this.rating}} </p>
          </div>
               {{/each}}

      {{/each}}     
               
             
             
        </div>
      </div> 
    </div>






</div>
</div>
</div>

